.service__main {
    .service__photo {

    }
    .service__description {
        .service__description_paragraph {
            margin: 0;
            margin-bottom: 10px;
            padding: 0;
            font-size: 18px;
            line-height: 24px;
            text-indent: 35px;
        }
    }
}