.slick-arrow {
  position: absolute;
  top: calc(50% - 25px);
  padding: 0;
  height: 50px;
  width: 50px;
  z-index: 10;
  font-size: 40px;
  line-height: 50px;
  color: #5dc2e5;
  background: #eaf3fe;
  border: 1px solid transparent;
  border-radius: 50%;
  outline: none;
  cursor: pointer; }
  @media (max-width: 375px) {
    .slick-arrow {
      top: calc(50% - 18px);
      height: 36px;
      width: 36px;
      font-size: 30px;
      line-height: 36px; } }
  .slick-arrow.slick-prev {
    left: 30px; }
    @media (max-width: 576px) {
      .slick-arrow.slick-prev {
        left: 20px; } }
  .slick-arrow.slick-next {
    right: 30px; }
    @media (max-width: 576px) {
      .slick-arrow.slick-next {
        right: 20px; } }

.slick-list {
  height: 100%;
  border: 1px solid transparent;
  border-radius: 40px; }
  .slick-list .slick-track {
    height: 100%; }

* {
  box-sizing: border-box; }

body {
  padding: 0;
  font-size: 16px;
  font-weight: 500; }

a {
  color: #000000;
  text-decoration: none;
  cursor: pointer; }

.valign {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.container {
  margin: 0 auto;
  width: 75%;
  height: 100%;
  max-width: 1140px; }
  @media (max-width: 1200px) {
    .container {
      width: 960px; } }
  @media (max-width: 992px) {
    .container {
      width: 720px; } }
  @media (max-width: 768px) {
    .container {
      width: 570px; } }
  @media (max-width: 576px) {
    .container {
      width: auto; } }

.gallery {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 540px;
  font-size: 0;
  background-color: #eaf3fe; }
  @media (max-width: 768px) {
    .gallery {
      height: 490px; } }
  @media (max-width: 576px) {
    .gallery {
      height: 420px; } }
  @media (max-width: 480px) {
    .gallery {
      height: 390px; } }
  @media (max-width: 375px) {
    .gallery {
      height: 360px; } }
  .gallery .gallery__heading {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    font-size: 36px;
    color: #000;
    text-align: center; }
    @media (max-width: 420px) {
      .gallery .gallery__heading {
        font-size: 30px; } }
  .gallery .gallery__container {
    margin: 0 auto;
    width: 90%;
    height: 400px; }
    @media (max-width: 768px) {
      .gallery .gallery__container {
        width: 95%;
        height: 350px; } }
    @media (max-width: 576px) {
      .gallery .gallery__container {
        width: 98%;
        height: 280px; } }
    @media (max-width: 480px) {
      .gallery .gallery__container {
        height: 250px; } }
    @media (max-width: 375px) {
      .gallery .gallery__container {
        height: 220px; } }
    .gallery .gallery__container .gallery-item {
      margin-right: 10px;
      outline: none; }
      .gallery .gallery__container .gallery-item .gallery-item__image {
        display: inline-block;
        vertical-align: top;
        width: auto;
        height: 400px;
        outline: none; }
        @media (max-width: 768px) {
          .gallery .gallery__container .gallery-item .gallery-item__image {
            height: 350px; } }
        @media (max-width: 576px) {
          .gallery .gallery__container .gallery-item .gallery-item__image {
            height: 280px; } }
        @media (max-width: 480px) {
          .gallery .gallery__container .gallery-item .gallery-item__image {
            height: 250px; } }
        @media (max-width: 375px) {
          .gallery .gallery__container .gallery-item .gallery-item__image {
            height: 220px; } }

.mainpage .gallery {
  border-top: 3px solid #5dc2e5; }

.header__top {
  padding: 15px 0;
  height: 100px;
  background-color: #DCEEFC; }
  @media (max-width: 576px) {
    .header__top {
      padding: 15px 10px; } }
  @media (max-width: 375px) {
    .header__top {
      height: 80px; } }
  .header__top .header__logo {
    width: 200px;
    height: 40px;
    font-size: 30px;
    font-style: italic;
    text-align: center; }
    @media (max-width: 420px) {
      .header__top .header__logo {
        width: 160px;
        height: 32px; } }
    @media (max-width: 375px) {
      .header__top .header__logo {
        width: 140px;
        height: 28px; } }
  .header__top .header__contacts {
    float: right; }
    .header__top .header__contacts .header__contacts_phone {
      display: block;
      font-size: 24px;
      font-weight: bold; }
      @media (max-width: 576px) {
        .header__top .header__contacts .header__contacts_phone {
          font-size: 20px; } }
      @media (max-width: 375px) {
        .header__top .header__contacts .header__contacts_phone {
          font-size: 16px; } }
    .header__top .header__contacts .header__work-time {
      float: right;
      margin-top: 5px;
      font-size: 14px; }
      @media (max-width: 375px) {
        .header__top .header__contacts .header__work-time {
          font-size: 12px; } }

.header__nav {
  height: 50px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #D9E1EC;
  border-top: 3px solid #5dc2e5;
  border-bottom: 3px solid #5dc2e5; }
  @media (max-width: 576px) {
    .header__nav {
      height: 70px; } }
  .header__nav .nav__list {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 0;
    list-style: none; }
    .header__nav .nav__list .nav__item {
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: 25%;
      height: 100%;
      font-size: 0;
      text-align: center;
      border-right: 1px solid #c7cfd8; }
      @media (max-width: 576px) {
        .header__nav .nav__list .nav__item {
          width: 50%;
          height: 50%; }
          .header__nav .nav__list .nav__item:nth-of-type(2) {
            border-right: none; } }
      .header__nav .nav__list .nav__item:last-of-type {
        border-right: none; }
      .header__nav .nav__list .nav__item:hover {
        background-color: #c7cfd8; }
        .header__nav .nav__list .nav__item:hover .nav__dropdown {
          display: block; }
      .header__nav .nav__list .nav__item > a {
        display: inline-block;
        width: 100%;
        height: 100%;
        font-size: 18px;
        line-height: 47px; }
        @media (max-width: 768px) {
          .header__nav .nav__list .nav__item > a {
            font-size: 16px; } }
        @media (max-width: 576px) {
          .header__nav .nav__list .nav__item > a {
            border-bottom: 1px solid #c7cfd8;
            line-height: 35px; } }
      .header__nav .nav__list .nav__item .nav__dropdown {
        display: none;
        position: absolute;
        top: 44px;
        margin: 0;
        padding: 0;
        width: 100%;
        font-size: 0;
        border-top: 3px solid #5dc2e5;
        background-color: #D9E1EC;
        list-style: none;
        z-index: 1000; }
        @media (max-width: 576px) {
          .header__nav .nav__list .nav__item .nav__dropdown {
            top: 33px; } }
        .header__nav .nav__list .nav__item .nav__dropdown .nav__dropdown_item {
          font-size: 16px;
          font-weight: 500;
          border-bottom: 1px solid #c7cfd8; }
          @media (max-width: 768px) {
            .header__nav .nav__list .nav__item .nav__dropdown .nav__dropdown_item {
              font-size: 14px; } }
          .header__nav .nav__list .nav__item .nav__dropdown .nav__dropdown_item > a {
            display: inline-block;
            width: 100%;
            line-height: 35px; }
            .header__nav .nav__list .nav__item .nav__dropdown .nav__dropdown_item > a:hover {
              background-color: #5dc2e5;
              text-decoration: underline; }
          @media (min-width: 577px) and (max-width: 992px) {
            .header__nav .nav__list .nav__item .nav__dropdown .nav__dropdown_item:last-of-type a {
              line-height: 25px; } }
          @media (max-width: 342px) {
            .header__nav .nav__list .nav__item .nav__dropdown .nav__dropdown_item:last-of-type a {
              line-height: 20px; } }

.mainpage {
  margin: 0;
  padding: 0; }
  .mainpage .main__bg {
    width: 100%;
    height: 400px;
    background-color: #9ba5be;
    background-image: url("../img/main-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    @media (max-width: 576px) {
      .mainpage .main__bg {
        height: 300px; } }
    .mainpage .main__bg .main__bg_wrapper {
      margin: 0 auto;
      text-align: center; }
      .mainpage .main__bg .main__bg_wrapper .main__bg_title {
        margin: 0;
        margin-bottom: 40px;
        font-size: 38px;
        color: #fff;
        line-height: 55px;
        text-transform: uppercase; }
        @media (max-width: 576px) {
          .mainpage .main__bg .main__bg_wrapper .main__bg_title {
            margin-bottom: 15px;
            font-size: 34px;
            line-height: 48px; } }
        @media (max-width: 420px) {
          .mainpage .main__bg .main__bg_wrapper .main__bg_title {
            font-size: 30px;
            line-height: 40px; } }
        @media (max-width: 375px) {
          .mainpage .main__bg .main__bg_wrapper .main__bg_title {
            font-size: 25px;
            line-height: 38px; } }
      .mainpage .main__bg .main__bg_wrapper .main__bg_details {
        display: inline-block;
        vertical-align: top;
        padding: 10px 15px;
        background-color: #53a3da;
        color: #fff;
        font-size: 18px;
        border-radius: 5px; }
        @media (max-width: 420px) {
          .mainpage .main__bg .main__bg_wrapper .main__bg_details {
            padding: 10px;
            font-size: 16px; } }
  .mainpage .company-advantages {
    padding: 0 8%;
    height: 180px;
    background-color: #5dc2e5;
    background: linear-gradient(to top, #57abe5, #5dc2e5);
    font-size: 0; }
    @media (max-width: 992px) {
      .mainpage .company-advantages {
        padding: 0 4%; } }
    @media (max-width: 768px) {
      .mainpage .company-advantages {
        padding: 0 20px; } }
    @media (max-width: 576px) {
      .mainpage .company-advantages {
        padding: 0 5px; } }
    @media (max-width: 480px) {
      .mainpage .company-advantages {
        height: 150px; } }
    @media (max-width: 420px) {
      .mainpage .company-advantages {
        height: 130px; } }
    .mainpage .company-advantages .advantage-wrapper {
      display: inline-block;
      vertical-align: top;
      width: 33%;
      text-align: center;
      font-size: 0;
      color: #fff;
      font-weight: bold; }
      .mainpage .company-advantages .advantage-wrapper .advantage__img-wrapper {
        margin-bottom: 10px;
        height: 80px; }
        @media (max-width: 480px) {
          .mainpage .company-advantages .advantage-wrapper .advantage__img-wrapper {
            height: 60px; } }
        @media (max-width: 420px) {
          .mainpage .company-advantages .advantage-wrapper .advantage__img-wrapper {
            height: 50px; } }
        .mainpage .company-advantages .advantage-wrapper .advantage__img-wrapper .advantage__img {
          height: 100%; }
      .mainpage .company-advantages .advantage-wrapper .advantage {
        font-size: 24px;
        line-height: 32px; }
        @media (max-width: 768px) {
          .mainpage .company-advantages .advantage-wrapper .advantage {
            font-size: 20px;
            line-height: 28px; } }
        @media (max-width: 576px) {
          .mainpage .company-advantages .advantage-wrapper .advantage {
            font-size: 18px;
            line-height: 24px; } }
        @media (max-width: 480px) {
          .mainpage .company-advantages .advantage-wrapper .advantage {
            font-size: 16px;
            line-height: 22px; } }
        @media (max-width: 420px) {
          .mainpage .company-advantages .advantage-wrapper .advantage {
            font-size: 14px;
            line-height: 20px; } }
        @media (max-width: 375px) {
          .mainpage .company-advantages .advantage-wrapper .advantage {
            font-size: 12px;
            line-height: 18px; } }
  .mainpage .mainpage__about-services {
    padding: 30px 20px;
    background-color: #eaf3fe;
    border-top: 3px solid #5dc2e5; }
    .mainpage .mainpage__about-services .about-services__paragraph {
      font-size: 22px;
      text-align: center; }
      @media (max-width: 420px) {
        .mainpage .mainpage__about-services .about-services__paragraph {
          font-size: 18px; } }
      .mainpage .mainpage__about-services .about-services__paragraph .text-accent {
        font-size: 24px;
        font-weight: 700;
        font-style: italic; }
        @media (max-width: 420px) {
          .mainpage .mainpage__about-services .about-services__paragraph .text-accent {
            font-size: 19px; } }

.service__main {
  padding: 0;
  padding-bottom: 30px;
  background-color: #eaf3fe; }
  @media (max-width: 1200px) {
    .service__main .service__main_container {
      width: 80%; } }
  .service__main .service__main_container .service__description .service__description_paragraph {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    text-indent: 35px; }

.mainpage .service__main {
  padding-top: 30px; }

.footer {
  padding: 15px 0;
  height: 150px;
  background-color: #DCEEFC;
  border-top: 3px solid #5dc2e5; }
  @media (max-width: 576px) {
    .footer {
      padding: 15px 10px;
      height: 180px; } }
  @media (max-width: 420px) {
    .footer {
      height: 220px; } }
  .footer .footer__container .footer__copyright {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700; }
  .footer .footer__container .footer__address {
    margin-bottom: 5px;
    font-size: 18px; }
  .footer .footer__container .footer__tel {
    margin-bottom: 5px;
    font-size: 18px;
    font-style: italic; }
  .footer .footer__container .footer__work-time {
    font-size: 18px;
    font-style: italic; }

/*# sourceMappingURL=style.css.map */
