* {
    box-sizing: border-box;
}
body {
    padding: 0;
    font-size: 16px;
    font-weight: 500;
}
a {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}
.valign {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.container {
    margin: 0 auto;
    width: 75%;
    height: 100%;
    max-width: 1140px;
    @media (max-width: 1200px) {
        width: 960px;
    }
    @media (max-width: 992px) {
        width: 720px;
    }
    @media (max-width: 768px) {
        width: 570px;
    }
    @media (max-width: 576px) {
        width: auto;
    }
}